[submodule "src/AlphaPose"]
	path = src/AlphaPose
	url = https://github.com/miu200521358/AlphaPose
[submodule "src/PoseTriplet"]
	path = src/PoseTriplet
	url = https://github.com/miu200521358/PoseTriplet
[submodule "src/MultiPose"]
	path = src/MultiPose
	url = https://github.com/miu200521358/3D-Multi-Person-Pose
[submodule "src/chumpy"]
	path = src/chumpy
	url = https://github.com/miu200521358/chumpy
