[submodule "src/AlphaPose"]
	path = src/AlphaPose
	url = https://github.com/miu200521358/AlphaPose
[submodule "src/PoseTriplet"]
	path = src/PoseTriplet
	url = https://github.com/miu200521358/PoseTriplet
